<h1 class="logo"><a href="/users/<%=current_user.id%>">Home</a></h1>
  <ul class="main-nav">
    <a href="/items/new">Create a New Item | </a>
    <a href="/users">View Users | </a>
    <a href="/messages">View Messages | </a>
    <a href="/messages/new">New Message | </a>
    <a href="/logout">Log Out</a>
  </ul>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2> Welcome <%=current_user.username %>! </h2>
<h3> Items for Sale </h3>
<p> ____________________ </p>
  <% @items.each do |item| %>
    <p><strong>Title: </strong><%= item.title.capitalize %></p>
    <p><strong>Price: </strong>$<%= item.price %></p>
    <p><strong>Description: </strong><%= item.description.capitalize %></p>
    <p><strong>Seller: </strong><%= item.user.username %></p>
    <p><strong>Seller's Location: </strong><%= item.user.location %></p>
    <a href="/items/<%=item.id%>">View Item | </a>
    <a href="/users/<%=item.user.id%>">View User </a>
    <p> ____________________ </p>
  <% end %>
